
<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/listings">
        <img src="/images/snowflakes.png" alt="Snowflakes" style="height:48px; width:auto; background: transparent;" />
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse bg-body-dark" id="navbarNavAltMarkup">
        <div class="navbar-nav nav-primary">
          <a class="nav-link" href="/listings">Explore</a>
        </div>


        <div class="navbar-nav nav-search">
          <form class="d-flex nav-search-form" role="search" action="/listings" method="GET">
            <input class="form-control me-2 search-inp" type="search" name="q" placeholder="Search destinations" value="<%= searchQuery || '' %>">
            <% if (typeof selectedCategory !== 'undefined' && selectedCategory) { %>
              <input type="hidden" name="category" value="<%= selectedCategory %>">
            <% } %>
            <button class="btn search-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
          </form>
        </div>

        <div class="navbar-nav nav-actions ms-auto">
          <a class="nav-link" href="/listings/new">Airbnb your home</a>
          <% if (!currUser) { %>
          <a class="nav-link"  href="/signup"><b>Sign up</b></a>
          <a class="nav-link" href="/login"><b>Log in</b></a>
          <% } %> <% if (currUser) { %>
          <div class="nav-item dropdown">
            <a class="nav-link nav-avatar d-flex align-items-center" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="nav-avatar-circle">
                <% if (currUser.avatar && currUser.avatar.url) { %>
                  <img src="<%= currUser.avatar.url %>" alt="Profile" class="nav-avatar-image" />
                <% } else { %>
                  <%= (currUser.username || "U").charAt(0).toUpperCase() %>
                <% } %>
              </span>
              <span class="nav-avatar-burger ms-2 d-none d-md-flex" aria-hidden="true">
                <i class="fa-solid fa-bars"></i>
              </span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end custom-dropdown">
              <li><span class="dropdown-item-text">Signed in as <strong><%= currUser.username %></strong></span></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/listings/mylistings">My listings</a></li>
              <li><a class="dropdown-item" href="/listings/reservations">Reservations</a></li>
              <li><a class="dropdown-item" href="/profile/edit">Edit profile</a></li>
              <li><a class="dropdown-item" href="/logout">Log out</a></li>
            </ul>
          </div>
          <% } %>
        </div>

 
      </div>
    </div>
  </nav>