<% layout("/layouts/boilerplate") -%>


  <div id="filters" class="navbar" >

    <% const querySuffix = searchQuery ? `&q=${encodeURIComponent(searchQuery)}` : ""; %>

    <a href="/listings<%= searchQuery ? `?q=${encodeURIComponent(searchQuery)}` : "" %>" class="filter-link">
      <div class="filter <%= !selectedCategory ? 'active-filter' : '' %>">
        <div>
          <i class="fa-solid fa-fire"></i>
        </div>
        <p>Trending</p>
      </div>
    </a>

    <a href="/listings?category=rooms<%- querySuffix %>" class="filter-link">
      <div class="filter unnecessary less-necessary necessary <%= selectedCategory === 'rooms' ? 'active-filter' : '' %>">
        <div>
          <i class="fa-solid fa-bed"></i>
        </div>
        <p>Rooms</p>
      </div>
    </a>

    <a href="/listings?category=iconic-cities<%- querySuffix %>" class="filter-link">
      <div class="filter necessary <%= selectedCategory === 'iconic-cities' ? 'active-filter' : '' %>">
        <div>
          <i class="fa-solid fa-mountain-city"></i>
        </div>
        <p>Iconic Cities</p>
      </div>
    </a>

    <a href="/listings?category=mountains<%- querySuffix %>" class="filter-link">
      <div class="filter necessary <%= selectedCategory === 'mountains' ? 'active-filter' : '' %>">
        <div>
          <i class="fa-solid fa-mountain"></i>
        </div>
        <p>Mountains</p>
      </div>
    </a>

    <a href="/listings?category=castle<%- querySuffix %>" class="filter-link">
      <div class="filter unnecessary less-necessary necessary <%= selectedCategory === 'castle' ? 'active-filter' : '' %>">
        <div>
          <i class="fa-brands fa-fort-awesome"></i>
        </div>
        <p>Castle</p>
      </div>
    </a>

    <a href="/listings?category=amazing-pools<%- querySuffix %>" class="filter-link">
      <div class="filter less-necessary necessary <%= selectedCategory === 'amazing-pools' ? 'active-filter' : '' %>">
        <div>
          <i class="fa-solid fa-person-swimming"></i>
        </div>
        <p>Amaizing Pools</p>
      </div>
    </a>


    <a href="/listings?category=camping<%- querySuffix %>" class="filter-link">
      <div class="filter less-necessary necessary <%= selectedCategory === 'camping' ? 'active-filter' : '' %>">
        <div>
          <i class="fa-solid fa-campground"></i>
        </div>
        <p>Camping</p>
      </div>
    </a>

  

    <a href="/listings?category=dome<%- querySuffix %>" class="filter-link">
      <div class="filter unnecessary less-necessary necessary <%= selectedCategory === 'dome' ? 'active-filter' : '' %>">
        <div>
          <i class="fa-solid fa-igloo"></i>
        </div>
        <p>Dome</p>
      </div>
    </a>


    <a href="/listings?category=boats<%- querySuffix %>" class="filter-link">
      <div class="filter less-necessary necessary <%= selectedCategory === 'boats' ? 'active-filter' : '' %>">
        <div>
          <i class="fa-solid fa-ship"></i>
        </div>
        <p>Boats</p>
      </div>
    </a>
    

    <div class="tax-toggle">
      <div class="form-check-reverse form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault">Total incl. taxes</label>
      </div>
    </div>

  </div>


  <% if (selectedCategory || searchQuery) { %>
    <div class="filter-status-row mb-2 mt-3">
      <div class="filter-status">
        <% if (selectedCategory && searchQuery) { %>
          Showing <b><%= selectedCategoryLabel %></b> listings for "<%= searchQuery %>"
        <% } else if (selectedCategory) { %>
          Showing <b><%= selectedCategoryLabel %></b> listings
        <% } else { %>
          Showing results for "<%= searchQuery %>"
        <% } %>
      </div>

      <% if (selectedCategory) { %>
        <div class="category-count">
          <b><%= selectedCategoryCount %></b> <%= selectedCategoryCount === 1 ? 'listing' : 'listings' %>
        </div>
      <% } %>
    </div>
  <% } %>

  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mb-5 mt-3">

    <% if ((searchQuery || selectedCategory) && allListings.length === 0) { %>
      <div class="col-12 text-center mt-4">
        <% if (selectedCategory && searchQuery) { %>
          <h5>No listings found for "<%= searchQuery %>" in <%= selectedCategoryLabel %>.</h5>
        <% } else if (selectedCategory) { %>
          <h5>No listings found in <%= selectedCategoryLabel %>.</h5>
        <% } else { %>
          <h5>No listings found for "<%= searchQuery %>"</h5>
        <% } %>
        <a href="/listings" class="btn btn-outline-dark mt-2">Clear search</a>
      </div>
    <% } %>

    <% for(let listing of allListings){ %>

      <a href="/listings/<%= listing._id %>/" class="listing-link">
        <div class="card col listing-card">
          <img src="<%= listing.image.url %>" class="card-img-top" alt="listed image" style="height: 14rem;">

          <div class="card-img-overlay"></div>
          <div class="card-body">
            <p class="card-text">
              <b>
                <%= listing.title %>
              </b> <br>
              &#2547; <%= listing.price.toLocaleString("en-BN") %> /night
                <i class="tax-info"> &nbsp; &nbsp; +18% GST</i>
            </p>
          </div>
        </div>
      </a>

      <% } %>
  </div>



<script src="/js/gst.js"></script>